<!DOCTYPE html>
<html lang="'en">
    <title> Data Collector App </title>
    <head>
        <link href="../static/main.css" rel="stylesheet">

    </head>
        <body>
          <div class="container">
              <p> Thank you for your submission! <br>
              You will receive an email with your survey results shortly.

              Please see links below for articles relating to BMI, ageing and health in general.
              </p>

              <a href="https://www.ncbi.nlm.nih.gov/books/NBK535456/">Physiology, Body Mass Index</a> <br>

              <a href="https://www.hsph.harvard.edu/obesity-prevention-source/obesity-definition/obesity-definition-full-story/">Why Use BMI?</a> <br>

              <a href="https://experiencelife.lifetime.life/article/10-health-metrics-to-measure/">10 metrics to measure health!</a> <br>

              <a href="https://www.cnet.com/health/6-health-stats-that-are-more-important-than-your-weight/">6 health stats that are more important than your weight</a> <br>

              <a href="https://www.mayoclinic.org/healthy-lifestyle/stress-management/in-depth/exercise-and-stress/art-20044469">Exercise and Endorphins</a>

          </div>

        </body>
</html>

